.profile {
    margin: 0 30px;
}
.profile__title {
    color: #000000;
    margin: 70px auto 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
}

.profile__subtitle {
    font-size: 11px;
    font-weight: 500;
    line-height: 13.1px;
}

.profile__label {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
}

.profile__input_name {
    width: 65%;
    border: none;
    text-align: right;
    font-size: 11px;
    outline: none;
}

.profile__input_email {
    width: 65%;
    border: none;
    text-align: right;
    font-size: 11px;
    outline: none;
}

.profile__error {
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    color: #FF3055;
    height: 15px;
}

.profile__error-request {
    color: #FF004C;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    margin-top: 317px;  
    text-align: center;
    min-height: 5px;
}

.profile__error-request_success {
    color: #C2C2C2;
    ;
}

.profile__submit {
    border: none;
    background-color: transparent;
    display: block;
    margin: 20px auto 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #000;
    letter-spacing: -0.5px;
    pointer-events: none;
}

.profile__submit_active {
    background-color: #3456F3;
    height: 45px;
    width: 410px;
    color: #FFF;
    pointer-events: visible;
    transition: .2s linear;
}

.profile__submit:hover {
    cursor: pointer;
    opacity: 0.7;
}

.profile__logout {
    text-decoration: none;
    color: #FF004D;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    display: block;
    text-align: center;
    margin: 16px auto 40px;
    letter-spacing: -0.5px;
}

.profile__logout:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .profile {
        width: 410px;
        margin: 0 auto;
    }
    .profile__title {
        margin:  236px 0 96px;
        text-align: center;
    }
    .profile__submit {
        font-size: 14px;
    }

    .profile__text {
        font-size: 14px;
    }

    .profile__label {
        padding-bottom: 17px;
    }

    .profile__error-request {
        margin-top: 144px;
    }

.profile__logout {
    letter-spacing: 0;
}
}

@media screen and (min-width: 1280px) {
    .profile__title {
        margin: 74px 0 125px;
    }

    .profile__label {
        padding-bottom: 13px;
    }

    .profile__submit {
        margin: 37px auto 0;
    }
}