.login {
    background-color: transparent;
    margin: 0 30px;
}

.login__link-home {
    display: block;
    background-image: url(../../images/main-logo-header.svg);
    width: 38px;
    height: 38px;
    margin: 56px auto 50px;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    min-height: 28px;
    text-align: center;
    margin: 0 auto 80px;
}

.login__label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__subtitle {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    padding-bottom: 10px;
    color: #A0A0A0;
}

.login__error {
    color: #FF004C;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    min-height: 15px;
    padding-top: 5px;
}

.login__input_email {
    width: 100%;
    background-color: initial;
    border: none;
    border-bottom: 1px solid #E8E8E8;;
    padding: 0 0 10px;
    color:#000;
    outline: none;
    font-size: 14px;
}

.login__input_email:focus {
    border-bottom: 1px solid #3456F3;
}

.login__input_password {
    width: 100%;
    background-color: initial;
    border: none;
    border-bottom: 1px solid #E8E8E8;;
    padding: 0 0 10px;
    color: #000;
    outline: none;
    font-size: 14px;
}

.login__input_password:focus {
    border-bottom: 1px solid #3456F3;
}

.login__error-request {
    color: #FF004C;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    margin-top: 254px;  
    text-align: center;
    height: 6px;
    visibility: hidden;
}

.login__error-request_active {
    visibility: visible;
}

.login__submit {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    font-size: 12px;
    background-color: #3456F3;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
}

.login__submit:hover {
    opacity: .7;
}

.login__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    margin: 17px auto 30px;
}

.login__link {
    color: #3456F3;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .login {
        width: 396px;
        margin: 0 auto;
    }

    .login__link-home {
        margin: 232px 0 40px;
    }

    .login__title {
        margin:  0 0 40px;
        text-align: left;
    }
    .login__submit {
        font-size: 14px;
    }

    .login__text {
        font-size: 14px;
    }

    .login__error-request {
        margin-top: 164px;
    }
}

@media screen and (min-width: 1280px) {
    .login__link-home {
        margin: 70px 0 40px;
    }

    .login__input_email {
        padding: 0 0 7px;
    }

    .login__error-request {
        margin-top: 166px;
    }
}

.login__submit_disabled {
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .5);
    background: #e9e9e9;
    cursor: default;
    pointer-events: none;
}

.login__input_email-error {
    color: red;
}